.swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: contain;
    background-position: center;
}

.mySwiper2 {
    height: 28%;
    width: 60%;
    border-radius: 1rem;
    user-select: none;
}

.mySwiper1 {
    height: 8%;
    box-sizing: border-box;
    border-radius: 1rem;
}

.mySwiper1 .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper1 .swiper-slide-thumb-active {
    opacity: 1;
}
